.main-margin{
  margin-left: 100px;
  padding-top: 2rem;
}

.search-bar{
  background-color: cadetblue;
  /* background-color: lightblue; */
}

.header{
  /* background-color: bisque; */
  background-color: cadetblue;
  height: 3rem;
}

.width-text{
  width: 26.8rem;
}

.table-heading{
  background-color: rgb(185, 213, 214);
}
